/* index.css */

/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@400&display=swap');

/* Set the default font to Roboto for general text */
body {
  font-family: 'Roboto', sans-serif;
}

/* Apply Poppins font for headings or bold text */
.brand-name, .contact-btn, .nav-links a:hover {
  font-family: 'Poppins', sans-serif;
}

/* About Section - Using lighter Poppins font for 'About Me' */
#about h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100; /* Lighter weight */
  font-size: 24px;
  color: #EF7300; /* Orange color like Featured Projects */
  text-align: center;
  margin-bottom: 10px;
}

/* Other headings, such as for A Student with a Mission */
#about .projects-title h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #252159;  /* Dark blue color like Some of my favourite work */
  text-align: center;
  margin-bottom: 40px;
}
